In [4]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
from google.colab import drive
drive.mount("/content/drive/")
import pickle
#data contains file-size feature.
from PIL import Image

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

###Identify the all degress of grey, count grey pixels and append to the previous DataFrame's column.

In [0]:
with open("/content/drive/Shared drives/MyDrive/Kaggle/clips(enhanced) test/_temp",'w') as f:
    f.write("25000")

In [5]:
with open("/content/drive/Shared drives/MyDrive/Kaggle/clips(enhanced) test/_temp",'r') as f:
    start=int(f.read())+1
print(f"Starting with {start} picture.")
data=pickle.load(open("/content/drive/Shared drives/MyDrive/Kaggle/Feature Generation (Enhanced)/Real size+grey feature.pkl",'rb'))
path="/content/drive/Shared drives/MyDrive/Kaggle/clips(enhanced) test/"
for i in tqdm(range(start,50001)):
    filepath=path+"clips-"+str(i)+".png"
    count=np.array(Image.open(filepath),dtype='bool')
    data.loc[i,"grey_pixel_number"]=int(count.sum()/3)
    if(i%50==0):
        with open("/content/drive/Shared drives/MyDrive/Kaggle/clips(enhanced) test/_temp",'w') as f:
            f.write(str(i))
    if(i%50==0):
        pickle.dump(data,open("/content/drive/Shared drives/MyDrive/Kaggle/Feature Generation (Enhanced)/Real size+grey feature.pkl",'wb'))

Starting with 45401 picture.

100%|██████████| 4600/4600 [1:45:54<00:00,  1.38s/it]

###After Dumping pkl: check result

In [6]:
#After dumping
import pickle
data=pickle.load(open("/content/drive/Shared drives/MyDrive/Kaggle/Feature Generation (Enhanced)/Real size+grey feature.pkl",'rb'))
data.sort_index()

       clip_count     size  grey_pixel_number
id
25001         NaN   2868.0              499.0
25002         NaN  47019.0            10977.0
25003         NaN  55200.0            12753.0
25004         NaN   3705.0              627.0
25005         NaN  45646.0            10110.0
...           ...      ...                ...
49996        35.0  35775.0             7886.0
49997        54.0  50962.0            11382.0
49998        72.0  63938.0            15244.0
49999        24.0  24989.0             5269.0
50000        35.0  36861.0             8409.0

[25000 rows x 3 columns]